<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.com.devilmole.data.dao.AccessTokenMapper">

    <resultMap id="accessTokenResult" type="cn.com.devilmole.model.token.AccessTokenResp">
        <result column="EXPIRE_TIME" property="expireTime" jdbcType="TIMESTAMP" />
        <result column="ACCESS_TOKEN" property="access_token" jdbcType="VARCHAR" />
    </resultMap>

    <insert id="newAccessToken">
        insert into wp_accessToken(ACCESS_TOKEN,EXPIRE_TIME) VALUES
        (#{access_token},#{expireTime})
    </insert>

    <select id="getAccessToken" resultMap="accessTokenResult">
        SELECT * FROM devilmole_mp.wp_accessToken order by EXPIRE_TIME desc limit 1
    </select>
</mapper>