<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.com.devilmole.data.dao.TextMessageMapper">

    <insert id="newTextMessage">
        insert into TEXT_MESSAGE(ToUserName,FromUserName,CreateTimeMill,CreateTime,MsgType,Content,MsgId) VALUES
        (#{ToUserName},#{FromUserName},#{CreateTime},#{createTimeDate},#{MsgType},#{Content},#{MsgId})
    </insert>

</mapper>